<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <p>
        {{#results}}
            {{#if @index '<' 2}}
                <div class="container">
                    <div class="code">
                        <code>{{code}}</code>
                    </div>
                </div>
            {{/if}}
        {{/results}}
    </p>
</body>
</html>